<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Trello</title>

    <link rel="stylesheet" href="css/site.css" />
  </head>

  <body>
    <div class="board">
      <div class="card-group">
        <h2>Group 1</h2>
        <ul id="group-1">
          <li id="title-1" class="card">
            <h3 class="card-title">Title 1</h3>
          </li>
          <li id="title-2" class="card">
            <h3 class="card-title">Title 2</h3>
          </li>
          <li id="title-3" class="card">
            <h3 class="card-title">Title 3</h3>
          </li>
          <li id="title-4" class="card">
            <h3 class="card-title">Title 4</h3>
          </li>
        </ul>
      </div>

      <div class="card-group">
        <h2>Group 2</h2>
        <ul id="group-2">
          <li id="title-5" class="card">
            <h3 class="card-title">Title 5</h3>
          </li>
          <li id="title-6" class="card">
            <h3 class="card-title">Title 6</h3>
          </li>
          <li id="title-7" class="card">
            <h3 class="card-title">Title 7</h3>
          </li>
        </ul>
      </div>

      <div class="card-group">
        <h2>Group 3</h2>
        <ul id="group-3">
          <li id="title-8" class="card">
            <h3 class="card-title">Title 8</h3>
          </li>
          <li id="title-9" class="card">
            <h3 class="card-title">Title 9</h3>
          </li>
          <li id="title-10" class="card">
            <h3 class="card-title">Title 10</h3>
          </li>
        </ul>
      </div>

      <div class="card-group">
        <h2>Group 4</h2>
        <ul id="group-4">
          <li id="title-11" class="card">
            <h3 class="card-title">Title 11</h3>
          </li>
        </ul>
      </div>
    </div>
    <!-- Board -->>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p></p>
      </div>
    </div>

    <script src="js/site.js"></script>
  </body>
</html>
